.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.reverse {
  flex-wrap: wrap-reverse;
}

.section > img {
  width: 100%;
  max-width: 320px;
  border: 1px solid #707070;
  margin: 0 14px;
}
